# Items that don't need to be in a Docker image.
# Anything not used by the build system should go here.
Dockerfile
.dockerignore
.gitignore
.git
.storybook
.nginx
README.md
CHANGELOG.md

# Artifacts that will be built during image creation.
# This should contain all files created during `npm run build`.
build
node_modules

# Build dependencies
coverage

# Environment (contains sensitive data)
.env

# Files not required for production
.editorconfig
tslint.json
nodemon.json

